body {
    /*background: url('../web/img/bgc-pdf.jpg');*/
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.balance {
    padding: 10px 0;
    font-weight: 800;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

table {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;

    /*width: 100%;*/
}