@import "fonts.css";

* {
  font-size: 16px;
  font-family: 'Gudea', sans-serif;
  color: rgb(175, 177, 190);
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
  color: #4F3E2A;
  /*height: 100%;*/
  /*min-height: 100vh;*/
}

footer {
  padding: 20px;
  background-color: #32364a;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #4E546D;
}

a, a:hover {
  text-decoration: none;
}

i {
  font-family: "fontawesome", sans-serif;
  color: #ffffff;
}

li {
  white-space: nowrap;
}

h1 {
  display: block;
  text-align: center;
  /*color: #7186C7;*/
  font-weight: normal;
  font-size: 25px;
  border-bottom: 1px solid #9CA9CB;
  padding-bottom: 10px;
  color: #DC6180;
  text-transform: uppercase;
}

.form {
  position: relative;
}

.form-group input {
  background-color: #32364a;
  border: none;
  letter-spacing: 1px;
  color: #ccc;
  padding: 15px 40px;
}

.form-group .form-control {
  height: auto;
}

.content {
  border-radius: 3px;
  margin: 20px 20px;
  /*min-height: 100vh;*/
}

.wrapper {
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  /*height: 100%;*/
  min-height: 100vh;
  max-width: 1170px;
  margin: 0 auto;
  box-shadow: -1px 0px 56px 8px rgba(0, 0, 0, 0.75);
}

.custom-button, .custom-button:active, .custom-button:focus {
  background-color: #2D3140;
  color: #DC6180;
  text-transform: uppercase;
  border: 2px solid #DC6180;
  padding: 10px 50px;
  border-radius: 50px;
  font-size: 14px;
  transition: all ease .3s;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0 auto;
}

a.custom-button {
  background-color: #2D3140;
  color: #DC6180;
  text-transform: uppercase;
  border: 2px solid #DC6180;
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 14px;
  transition: all ease .3s;
  letter-spacing: 1px;
  display: inline-block;
  margin: 5px auto;
}

.custom-button:hover {
  background-color: #DC6180;
  border: 2px solid #DC6180;
  cursor: pointer;
  color: #ffffff;
}

.top-menu a {
  color: #9CA9CB;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 20px;
  letter-spacing: 1px;
}

.nav-pills > li > a {
  margin: 0 3px;
  border-radius: 20px;
  transition: all ease 1s;
}

.nav-pills > li > a:hover {
  background-color: #DC6180;
  color: #FFFFFF;
}

.alert-registr {
  margin: 15px 0;
}

.form-index {
  text-align: center;
  margin-bottom: 60px;
}

.g-recaptcha {
  display: inline-block;
  margin: 0 auto 20px;
}

.bonus-text {
  text-transform: lowercase;
  font-size: 12px;
}

.rememberMe {
  /*display: flex;*/
}

.rememberMe label {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: -20px;
}

.has-error .help-block {
  color: #9CA9CB;
  text-transform: lowercase;
  font-size: 12px;
  padding-left: 20px;
}

.lotery-container {
  margin-top: 15px;
}

.lotery-container img {
  margin-top: 15px;
  transition: all .5s ease;
  opacity: .7;
}

.lotery-container img:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 1;
}

.regulations-lotery {
  text-align: center;
}

.regulations-lotery p:first-child {
  text-transform: uppercase;
}

.regulations-lotery .under-text {
  font-size: 14px;
}

#timer {
  display: none;
  margin-top: 50px;
  background-color: #32364a;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  color: #3C763D;
  padding: 20px 0;
}


table {
  margin: 20px 0;
  border-spacing: 0;
  width: 100%;
  background-color: #35394a;
  table-layout: fixed;
}



th, td {
  padding: 15px;
  text-align: center;
}



th {
  background: #4E546D;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 14px;
}

tr {
  transition: all ease .5s;
  border-bottom: 1px solid #3b3f52;

}

tr:hover {
  background-color: #3b3f52;
}

.show {
  display: block;
}

.hide {
  display: none;
}


#selected-bitcoin {
  display: none;
  margin-top: 50px;
  background-color: #DFF0D8;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  color: #3C763D;
  padding: 20px 0;
}

.long-button {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}

.top-menu {
  /*width: 100%;*/
  padding: 5px 40px;
  /*background-color: #32364a;*/
  /*margin-top: 15px;*/
}

.wrap-pagination {
  text-align: center;
}



.spoof {
  width: 100%;
  height: auto;
  /*background-color: #4E546D;*/
  border-radius: 3px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  border-radius: 3px;
  margin-top: 20px;
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

.popup {
  z-index: 100;
  position: absolute;
  width: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #34364A;
  border-radius: 10px;
  text-align: center;
}

.popup h3 {
  text-transform: uppercase;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: '';
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: '';
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(45deg);
}

.table-striped td {
  background-color: #35394A;
}

#spoof-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 17%;
  z-index: 9999;
}

footer {
  display: flex;
  justify-content: space-around;
}

.colum-footer {
  width: 30%;
  /*display: flex;*/
}

.logo {
  color: #3C763D;
}

.long-banner {
  width: 100%;
  text-align: center;
}





